@media (max-width: 1070px) {
    /* Hide regular menu */
    .menu-container,
    .nav-menu
     {
        display: none;
    }

    /* Show hamburger menu */
    .hamburger-menu {
        display: block;

    }

    header p {
        font-size: medium;
    }

    
}