@media (max-width: 1070px) {
    
    .menu-container,
    .nav-menu
     {
        display: none;
    }

    
    .hamburger-menu {
        display: block;

    }

    header p {
        font-size: 22px;
    }

    
}