body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: whitesmoke;
    color: #606060;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Roboto", Arial, sans-serif;
    color: black;
}

header {
    text-align: center;
    padding: 1em 0;
    background-color: rgb(171, 166, 166);
    color: black;
}

section {
    margin: 2em auto;
    padding: 1em;
    max-width: 800px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1em;
    background: black;
    color: #fff;
}
