@media (max-width: 1070px) {
   

    .card {
        display: flex;
        flex-direction: column;
        /* margin: 10px auto;
        padding: 0;
        gap: 10px;
        width: 70%; */
    }

    .star-rating {
        display: flex;
        flex-direction: row;
        gap:45px;
    }

    .star-rating label {
        display: flex;
        flex-direction: column-reverse; /* Switch to column layout for small screens */
        align-items: center; /* Align stars and radio button at the start */
        justify-items: center;
    }

    .star-rating input[type="radio"] {
        margin-right: 0; /* Remove extra space for column layout */
        margin-bottom: 5px; /* Add space below the radio button */
    }

    p, .column-b {
        padding: 0;
        margin: 0;
    }

    .post-button {
        width: 100%;
        background-color: blue;
    }

    button {
        width: 100%;
    }


}