* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
}

header, footer, #menu, .logo {
    background-color: #3c0965;
    color: whitesmoke;
}

#menu {
    display: none;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    justify-content: flex-end;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "X";
}

.show li {
    display: block;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-left: 1rem;
}

.navigation a {
    display: block;
    padding: 1px;
    margin: 10px;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: rgb(7, 7, 7);
    background-color: whitesmoke;
}

footer {
    position: relative;
    bottom: 0;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

footer p {
    padding: 0;
    white-space: nowrap;
}

.icone {
    width: 28px;
    height: 18px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.image-container {
    text-align: center;
    margin-top: 15px;
}

main {
    width: 95%;
}

main h2  {
    margin-top: 15px;
    text-align: center;
}

img {
    object-fit: fill;
    width: 350px;
    height: 265px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9); /* Shadow around the entire image */
    
}

.grid-item {
    box-sizing: border-box;
    padding: 2px;
    /* margin: 1px 1px 10px 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
     /* margin-left: auto;
    margin-right: auto;  */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1px auto;
    gap: 5px;
    width: 1084px; 
}

.section-custom {
    border: 1px solid #e2e2e2; 
    margin: 2px;
    padding: 25px 15px 15px 15px;
    background-color: #eeeeee;
    justify-items: center;
    text-align: center;
}

p span  {
    font-size: 13px;
    margin: 2px;
    
    /* margin-top: 2px; */
    color: #3c0965;
    
}

h3 {
    margin: 15px ;
}
