* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
}

header,
footer,
#menu,
.logo {
    background-color: #3c0965;
    color: whitesmoke;
}

#menu {
    display: none;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    justify-content: flex-end;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "X";
}

.show li {
    display: block;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-left: 1rem;
}

.navigation a {
    display: block;
    padding: 1;
    margin: 10px;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    transition: .5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: rgb(7, 7, 7);
    background-color: whitesmoke;
}

footer {
    position: relative;
    bottom: 0;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

footer p {
    padding: 0;
    white-space: nowrap;
}

.icone {
    width: 28px;
    height: 18px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.image-container {
    text-align: center;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 12px;
    margin-top: 2px;
    color: #3c0965;
}

main h2 {
    margin-top: 15px;
    text-align: center;
}

img {
    object-fit: fill;
    width: 350px;
    height: 205px;
}

.grid-item {
    box-sizing: border-box;
    padding: 2px;
    margin: 1px 1px 10px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; /* Set the width of the grid item */
    margin-left: auto;  /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
    gap: 5px;
    width: 1084px;
}
