@media (max-width: 1355px) {
    #menu {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px auto;
        padding: 0;
        gap: 10px;
        width: 70%;
    }

    .navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #3c0965;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
        border-radius: 0 0 5px 5px;
        padding: 1rem 0;
    }

    .navigation.show {
        display: flex;
    }

    .navigation li {
        margin: 0;
    }

    .navigation a {
        padding: .5rem 1rem;
        text-align: left;
    }

    footer {
        position: relative;
        bottom: 0;
        font-size: 22px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
}

@media (max-width: 1070px) {
    .grid-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 0;
        gap: 10px;
        overflow: hidden;
    }

    .navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
        border-radius: 0 0 5px 5px;
        padding: 1rem 0;
    }

    .navigation.show {
        display: flex;
    }

    .navigation li {
        margin: 0;
    }

    .navigation a {
        padding: .5rem 1rem;
        text-align: left;
    }
}
